<% provide :title, "About" %>
<h1>About</h1>
<p>
  Twitteresque is a clone of a well-known, similarly named app.
  It was built with Rails and Bootstrap by
  <%= link_to 'Mitchell Barron', 'https://github.com/mtchllbrrn' %>.
</p>