<% provide :title, "Help" %>
<h1>Help</h1>
<p>
  For now, Twitteresque features only a few static pages with links.
  Full user creation, validation, and logins are on the slate, plus 
  profiles, tweets, and user search.
</p>